.header{

    display: flex;
    height: 110px;
    width: 100%;
    justify-content: center;
    align-items: center;

    position: relative;

    overflow: hidden;

background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);

    z-index: 1000;
    position: fixed;

    border-radius: 25px;
}


.header a img{
height: 140px;
display: flex;
}

.menu {
    display: flex;

    position: absolute;
    left: 40px
}