*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    text-decoration: none;
    list-style: none;

}

main{
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 240vh;
    flex-direction: column;

    background-image: url(/images/Design\ sem\ nome.png);
    background-size: cover;
    background-attachment: scroll;
}

.main-headline {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 270vh;
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
}

.main-headline article {
    text-align: center;
    max-width: 800px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-headline img {
    width: 100%;
    height: auto;
    display: block;
}

.headline-content {
    padding: 20px;
}

.headline-content h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 15px;
}

.headline-content p {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 20px;
}


/* Responsividade */
@media (max-width: 768px) {
    .headline-content h2 {
        font-size: 1.5em;
    }

    .headline-content p {
        font-size: 1em;
    }

    .main-headline article {
        max-width: 95%;
    }
}