/* Estilo base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 200vh;
    flex-direction: column;

    background-image: url(/images/Design\ sem\ nome.png);
    background-size: cover;
    background-attachment: scroll;
}

.manchete a div {

    height: 100vh;
    width: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 150px;
    margin-bottom: 150px;

    box-shadow: 10px 10px 10px 10px black;
    background-color: black;
    background-image: url("/images/WhatsApp\ Image\ 2024-11-27\ at\ 15.16.14.jpeg");
    background-repeat: none;
    background-size: cover;
}

/* Estilo para smartphones (largura máxima de 768px) */
@media (max-width: 768px) {
    main {
        min-height: 100vh; /* Ajuste para evitar rolagem desnecessária */
        padding: 20px; /* Espaçamento interno para telas menores */
        background-attachment: fixed; /* Fixa o fundo em dispositivos menores */
    }

    .manchete a div {
        height: 30vh;
        width: 30vh; 
        margin-top: 50px; 
        margin-bottom: 100px; 
        box-shadow: 5px 5px 5px 5px black; 
    }
}
